extends layout
include mixin/common_ui.jade

block content
  h1= title
  span 총 게시물수 #{page.total}
  #articles
    - each post in posts
      div.post
        div.created_at= post.created_at
        div.title
          a(href="/post/"+post._id)= post.title
        div.body= post.body
    mixin paginate(page, '/')