doctype 5
html(lang='ko')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    title= title
    link(rel='stylesheet', href='#{urls['jquery.mobile-1.2.0.min.css']}')
    link(rel='stylesheet', href='/css/default.css')
    link(rel='stylesheet', href='/css/path_menu_style.css')
    // if lt IE 9
      script(type='text/javascript', src='#{urls['html5.js']}')
    // Fav and touch icons
    link(rel='shortcut icon', href='#{urls['favicon.ico']}')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='#{urls['apple-touch-icon-144-precomposed.png']}')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='#{urls['apple-touch-icon-114-precomposed.png']}')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='#{urls['apple-touch-icon-72-precomposed.png']}')
    link(rel='apple-touch-icon-precomposed', href='#{urls['apple-touch-icon-57-precomposed.png']}')
    script(type='text/javascript', src='#{urls['jquery.min.js']}')
    script(type='text/javascript', src='#{urls['jquery.mobile.custom.js']}')
    script(type='text/javascript', src='#{urls['jquery.mobile-1.2.0.min.js']}')
    style
      #popupPanel-popup {
        right: 0 !important;
        left: auto !important;
      }
      #popupPanel {
        width: 200px;
        border: 1px solid #000;
        border-right: none;
        background: rgba(0,0,0,.5);
        margin: -1px 0;
      }
      #popupPanel .ui-btn {
        margin: 2em 15px;
      }
  body
    div(data-role='page', data-theme='d')
      block content
      a(href='#popupPanel', data-rel="popup", data-transition="slide", data-position-to="window", data-role="button") click
      div(data-role="popup", id="popupPanel", data-corners="false", data-theme="none", data-shadow="false", data-tolerance="0,0")
        button(data-theme="a", data-icon="back", data-mini="true") Back
        button(data-theme="a", data-icon="grid", data-mini="true") Menu
        button(data-theme="a", data-icon="search", data-mini="true") Search
      a(id="centerbutton", href="") +
      ul.circles
        li
          a(href="", title="")
            span.camera
        li
          a(href="", title="")
            span.location
        li
          a(href="", title="")
            span.music
        li
          a(href="", title="")
            span.chat
        li
          a(href="", title="")
            span.moon
    script
      $( "#popupPanel" ).on({
        popupbeforeposition: function() {
          var h = $( window ).height();
          $( "#popupPanel" ).css( "height", h );
        }
      });
      jQuery(document).ready(function($) {
        $('#centerbutton').click(function(e) {
          e.preventDefault();
          $('.circles li a').toggleClass('out');
          $(this).toggleClass('centerbuttonon');
        });
      });
    - if(phase === 'real')
      script(type='text/javascript', src='http://wcs.naver.net/wcslog.js')
      script(type='text/javascript')
        if(!wcs_add) var wcs_add = {};
        wcs_add["wa"] = "240217e3cea844";
        wcs_do();
